<%- include("header"); -%>



<div class="bigbox">
    <h1 class="mnhead">My Cart</h1>
    <% for(var i=0;i<10;i++){ %>
    <div class="container text-center parentbox crtbox subgrp">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col child">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col child">
                        <img class="crtimg" src="bag.png" alt="">
                    </div>
                    <div class="col child crttxt">
                        <h4 class="cpn sub-head crtsub">Safari</h4>
                        <h2 class="name crtnm">Medium 22L Backpack Laptop</h2>
                        <p class="color crtclr">Black</p>
                        <h2><span class="prc crtprc">$65&nbsp</span><span class="org-prc crtoprc">$250</span><span class="per-dsc crtdsc">&nbsp75%off</span></h2>
                    </div>
                </div>
            </div>
            <div class="col child cart-dt">
                <div class="row row-cols-3">
                    <div class="col child elcart">
                        <button class="basicbtn cntbtn">+</button>
                        <input class="count" type="number" value="01"/>
                        <button class="basicbtn cntbtn">-</button>
                    </div>
                    <div class="col child elcart">
                        <button class="basicbtn rmvbtn pric">$65.00</button>
                    </div>
                    <div class="col child elcart">
                        <button class="basicbtn rmvbtn">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <% } %>   
    <div class="container text-center parentbox crtbox subgrp">
        <div class="row row-cols-1 row-cols-md-2 crtfooter">
            <div class="col child">
                <p class="ftrtxt1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor augue nunc, ut sodales diam aliquam non
                </p>
                <p><a href="">change address</a></p>
            </div>
            <div class="col child">
                <div class="row row-cols-3">
                    <div class="col child ftrtxt2">Cart Total</div>
                    <div class="col child ftrtxt3">$240</div>
                    <div class="col child"><button type="button" class="crtbtn">Place Order</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- <div class="container text-center parentbox crtbox subgrp">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col child">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col child">
                        <img class="crtimg" src="bag.png" alt="">
                    </div>
                    <div class="col child crttxt">
                        <h4 class="cpn sub-head crtsub">Safari</h4>
                        <h2 class="name crtnm">Medium 22L Backpack Laptop</h2>
                        <p class="color crtclr">Black</p>
                        <h2><span class="prc crtprc">$65&nbsp</span><span class="org-prc crtoprc">$250</span><span class="per-dsc crtdsc">&nbsp75%off</span></h2>
                    </div>
                </div>
            </div>
            <div class="col child cart-dt">
                <div class="row row-cols-3">
                    <div class="col child elcart">
                        <button class="basicbtn cntbtn">+</button>
                        <input class="count" type="number" value="01"/>
                        <button class="basicbtn cntbtn">-</button>
                    </div>
                    <div class="col child elcart">
                        <button class="basicbtn rmvbtn pric">$65.00</button>
                    </div>
                    <div class="col child elcart">
                        <button class="basicbtn rmvbtn">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container text-center parentbox crtbox subgrp">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col child">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col child">
                        <img class="crtimg" src="bag.png" alt="">
                    </div>
                    <div class="col child crttxt">
                        <h4 class="cpn sub-head crtsub">Safari</h4>
                        <h2 class="name crtnm">Medium 22L Backpack Laptop</h2>
                        <p class="color crtclr">Black</p>
                        <h2><span class="prc crtprc">$65&nbsp</span><span class="org-prc crtoprc">$250</span><span class="per-dsc crtdsc">&nbsp75%off</span></h2>
                    </div>
                </div>
            </div>
            <div class="col child cart-dt">
                <div class="row row-cols-3">
                    <div class="col child elcart">
                        <button class="basicbtn cntbtn">+</button>
                        <input class="count" type="number" value="01"/>
                        <button class="basicbtn cntbtn">-</button>
                    </div>
                    <div class="col child elcart">
                        <button class="basicbtn rmvbtn pric">$65.00</button>
                    </div>
                    <div class="col child elcart">
                        <button class="basicbtn rmvbtn">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container text-center parentbox crtbox subgrp">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col child">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col child">
                        <img class="crtimg" src="bag.png" alt="">
                    </div>
                    <div class="col child crttxt">
                        <h4 class="cpn sub-head crtsub">Safari</h4>
                        <h2 class="name crtnm">Medium 22L Backpack Laptop</h2>
                        <p class="color crtclr">Black</p>
                        <h2><span class="prc crtprc">$65&nbsp</span><span class="org-prc crtoprc">$250</span><span class="per-dsc crtdsc">&nbsp75%off</span></h2>
                    </div>
                </div>
            </div>
            <div class="col child cart-dt">
                <div class="row row-cols-3 btmbtn">
                    <div class="col child elcart">
                        <button class="basicbtn cntbtn">+</button>
                        <input class="count" type="number" value="01"/>
                        <button class="basicbtn cntbtn">-</button>
                    </div>
                    <div class="col child elcart">
                        <button class="basicbtn rmvbtn pric">$65.00</button>
                    </div>
                    <div class="col child elcart">
                        <button class="basicbtn rmvbtn">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container text-center parentbox crtbox subgrp">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col child">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col child">
                        <img class="crtimg" src="bag.png" alt="">
                    </div>
                    <div class="col child crttxt">
                        <h4 class="cpn sub-head crtsub">Safari</h4>
                        <h2 class="name crtnm">Medium 22L Backpack Laptop</h2>
                        <p class="color crtclr">Black</p>
                        <h2><span class="prc crtprc">$65&nbsp</span><span class="org-prc crtoprc">$250</span><span class="per-dsc crtdsc">&nbsp75%off</span></h2>
                    </div>
                </div>
            </div>
            <div class="col child cart-dt">
                <div class="row row-cols-3">
                    <div class="col child elcart">
                        <button class="basicbtn cntbtn">+</button>
                        <input class="count" type="number" value="01"/>
                        <button class="basicbtn cntbtn">-</button>
                    </div>
                    <div class="col child elcart">
                        <button class="basicbtn rmvbtn pric">$65.00</button>
                    </div>
                    <div class="col child elcart">
                        <button class="basicbtn rmvbtn">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container text-center parentbox crtbox subgrp">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col child">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col child">
                        <img class="crtimg" src="bag.png" alt="">
                    </div>
                    <div class="col child crttxt">
                        <h4 class="cpn sub-head crtsub">Safari</h4>
                        <h2 class="name crtnm">Medium 22L Backpack Laptop</h2>
                        <p class="color crtclr">Black</p>
                        <h2><span class="prc crtprc">$65&nbsp</span><span class="org-prc crtoprc">$250</span><span class="per-dsc crtdsc">&nbsp75%off</span></h2>
                    </div>
                </div>
            </div>
            <div class="col child cart-dt">
                <div class="row row-cols-3">
                    <div class="col child elcart">
                        <button class="basicbtn cntbtn">+</button>
                        <input class="count" type="number" value="01"/>
                        <button class="basicbtn cntbtn">-</button>
                    </div>
                    <div class="col child elcart">
                        <button class="basicbtn rmvbtn pric">$65.00</button>
                    </div>
                    <div class="col child elcart">
                        <button class="basicbtn rmvbtn">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
</div> -->

<%- include("footer"); -%>