<div class="bottom_nav">
    <div>
      <ul>
          <li><h1> About </h1></li>
          <li>About us</li>
          <li>Contact us</li>
          <li>abc</li>
          <li>abc</li>
      </ul>
      </div>
      <div>
      <ul>
        <li><h1>Help</h1></li>
        <li>Payments</li>
        <li>Shipping</li>
        <li>Cancellation and returns</li>
      </ul>
    </div>
    <div>
      <img src="2.jpg" class="icon2" width="60px" height="60px">
    </div>
    <div>
      <ul>
        <li><h1>Social</h1></li>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>You-tube</li>
        <li>abc
        </li>
      </ul>
    </div>
    <div>
      <ul style="margin-bottom: 0;">
        <li><h1>Mail us</h1></li>
        <li>Lorem ipsum </li>
        <li>abc</li>
        <li>help@merchstore.com lo</li>
        <li>abc</li>
      </ul>
    </div>
    
  </div>
  <div class="footer">
    <span>2022 The Merch Store</span>
  </div>
  </div>
</body>
</html>