<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<div class="header d-flex justify-content-between main_nav navheight">
    <div class="grid-container">
      <div class="grid-item">
        <div class="align-self-stretch">
          <img src="1.jpg" class="imgcss img1">
        </div>
        </div>
        <div class="grid-item">
          <div class="align-self-stretch  nav_search">
            <input class="srcbar" id="formid" type="text" placeholder="Search for products" aria-label="Search">
          </div>
        </div>
      </div>
    <div class="align-self-stretch btnlg">
      <a class="login">Login</a>
    </div>
  </div>
  
  
  <div class="btnscat">
    <div class="btncat">Clothing</div>
    <div class="btncat">Stationary</div>
    <div class="btncat">Backpack</div>
    <div class="btncat">Electronics</div>
    <div class="btncat">Others</div>
  </div>