<%- include("header"); -%>
<%- include("navbar"); -%>
<div class="lpd">
<div class="container text-center prdbox">
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2">
      <div class="col child cc">
        <img class="desc-img" src="bag.png" alt="">
      </div>
      <div class="col child cc">
        <form action="">
            <div><h6 class="cpn sub-head share"><a href=""><i class="fa-solid fa-share"></i> Share</a></h6></div>
            <div class="desc">
                <h4 class="cpn sub-head">Safari</h4>
                <h2 class="name">Medium 22L Backpack Laptop</h2>
                <p class="color">Black</p>
                <h2><span class="prc">$65 &nbsp</span><span class="org-prc">$250</span><span class="per-dsc">&nbsp 75%off</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur finibus tortor nec consequat dapibus. Etiam sed blandit nisl, sit amet ullamcorper nisl. Phasellus eu rhoncus nisl.</p>
                <input class="coupan" type="text" placeholder="Promo Code">
                <h5 class="sub-head">Lorem ipsum dolor sit</h5>
                <button type="button" class="btn btn-lg btnprd">ADD TO CART</button>
                <button type="button" class="btn btn-lg btnprd">BUY NOW</button>
            </div>
        </form>
       </div>
    </div>
  </div>
</div>
  <%- include("footer"); -%>
  