*{
    margin: 0;
    padding: 0;
}
:root{
    --bkgclr: #FFFFFF;
    --behindclr: #e5e5e5;
    --btnclr: #161335;
    --btnclrhvr: #0c0a1e;
    --font: Inter;
    --subheadclr: #949494;
}
body{
    font-family: 'Inter', sans-serif;
}
/* .container{
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} */
.lpd{
    background-color: var(--behindclr);
    width: 100%;
    padding: 60px 0;
}
.child{
    background-color: var(--bkgclr);
}
.prdbox{
    box-shadow: 0px 0px 5px 1px #EAEAEA;
    border-radius: 5px;
}

.desc-img{
    margin-top: 50px;
    height: 425px;
    width: 325px;
    left: 101px;
    top: 24px;
}

.desc{
    padding-top: 40px;
    text-align: left;
}
.org-prc{
    color:var(--subheadclr);
    text-decoration: line-through;
    font-family: var(--font);
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}
.prc{
    font-weight: bolder; 
    font-size: larger;
    width: 77px;
    left: 946px;
    top: 182px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
}
.per-dsc{
    color: #1B9327;
    font-size: smaller;
    width: 134px;
    height: 29px;
    left: 1130px;
    top: 189px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
}
.sub-head{
    color: var(--subheadclr);
    font-size: 25px;
}
.color{
    color: var(--subheadclr);
}
.coupan{
    width: 200px;
    height: 40px;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}
.btn{
    background-color: var(--btnclr);
    border: var(--btnclr);
    min-width: 240px;
    margin: 40px 0;
    margin-right: 15px;
    border-radius: 5px;
    color: var(--bkgclr);
}
.btn:hover{
    border: var(--btnclrhvr);
    background-color: var(--btnclrhvr);
}
h6 a{
    margin: 10px 5px;
    font-size: smaller;
    float: right;
    text-decoration: none;
    color: var(--subheadclr);
}
.name{
    left: 946px;
    top: 104px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
}
.share{
    font-size: 17px;
}
@media only screen and (max-width: 538px){
    .btn{
        margin: 10px 0;
    }
    .cc{
        padding: 30px;
    }
}






/* cart */
.crtimg{
    margin-top: 10px;
    width: 90px;
    height: 120px;
}
.elcart{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.crtbox{
    box-shadow: 0px 0px 5px 1px #D9D9D9;
    background: var(--bkgclr);
    border-radius: 5px;
    
}
.crttxt{
    text-align: left;
    padding-top: 20px;
}
.count{
    font-size: 2rem;
    text-align: center;
    margin: 0 10px;
    width: 5rem;
    height: 40px;
    background: var(--bkgclr);
    box-shadow: 0px 0px 5px 1px #D9D9D9;
    border-radius: 5px;
    border-width: 1px;
}
.cntbtn{
    background: var(--bkgclr);
    box-shadow: 0px 0px 5px 1px #D9D9D9;
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border-width: 1px;
}
.mnhead{
    font-family: var(--font);
    text-align: left;
    margin: 0 30px;
    line-height: 100px;
}
.rmvbtn{
    background: var(--bkgclr);
    border-radius: 5px;
    width: 11rem;
    height: 40px;
    font-size: 1.5rem;
    border-width: 1px;
}
.pric:hover{
    cursor:context-menu;
}
.subgrp{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 95%;
    /* background-color: #0c0a1e; */
    
}
.frtcntr{
    margin-top: 40px;
}
.bigbox{
    background: var(--bkgclr);
    box-shadow: 0px 0px 5px 1px #EAEAEA;
    border-radius: 5px;
    margin: 40px;
}
.crtsub{
    font-size: 20px;
}
.crtnm{
    font-size: 18px;
}
.crtclr{
    font-size: 15px;
    line-height: 0;
}
.crtprc{
    font-size: 20px;
}
.crtoprc{
    font-size: 20px;
}
.crtdsc{
    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.ctrmob{
    display: none;
}
@media screen and (max-width: 538px){
    .count{
        font-size: 1.5rem;
        height: 3.5rem;
        width: 3.5rem;
    }
    .elcart{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .cntbtn{
        min-width: 2.5rem; 
        height: 2.5rem; 
        line-height: 2rem;
    }
    .ch1{
        margin-top: 20px;
    }
    .rmvbtn{
        min-width: 4rem;
        font-size: 1.5rem;
    }
    .bigbox{
        margin: 0;
    }
    .crtimg{
        margin-top: 20px;
        width: 70px;
        height: 100px;
        margin-bottom: 15px;
    }
    .ctrdex{
        display: none;
    }
    .ctrmob{
        display: revert;
    }
}

.crtfooter{
    background-color: var(--bkgclr);
    padding-top: 30px;
    padding-bottom: 10px;
}
.crtbtn{
    background-color: var(--btnclr);
    border: var(--btnclr);
    padding: 15px 30px;
    border-radius: 5px;
    color: var(--bkgclr);
    font-size: 1.6rem;
}

.ftrtxt1{
font-weight: 400;
font-size: 1.2rem;
text-align: left;
color: #000000;
}
.ftrtxt2{

font-style: normal;
font-weight: 500;
font-size: 1.5rem;
line-height: 4rem;
color: var(--subheadclr);
}
.ftrtxt3{
line-height: 4rem;
font-style: normal;
font-weight: 600;
font-size: 1.8rem;
color: #000000;
}
@media screen and (max-width: 538px){
    .crtbtn{
        font-size: 1.5rem;
        padding: 10px;
    }
    .ftrtxt1{
        font-size: 1.5rem;

    }
    .ftrtxt2{
        font-size: 2rem;
    }
    .ftrtxt3{
        font-size: 2rem;
    }
}






/* navbar */
.srcbar{
    /* color: var(--subheadclr); */
    width: 50vw;
    margin-right: 15vw;
    line-height: 10px;
    margin-top: -20px;
    padding: 18px;
    font-size: 1.5rem;
    height: 45px;
    margin-left: 4rem;
    border-radius: 25px;
    border: 0px;
}

.navheight{
    width: 100%;
    padding: 8px;
}
.main_nav
{
    background-color: var(--btnclr);
    padding-top: 0.5%;
    padding-left: .5%;
    padding-right: 0.5%;
}
.login
{
    font-family: montserrat;
    line-height: 55px;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    right: 55px;
}
.btnlg{
    margin-right: 30px;
}
.imgcss{
    width: 128px;
    display: inline;
    margin-left: -70px;
}
.btnscat
{
    background: var(--bkgclr);
    box-shadow: 0px 0px 5px 0px #eaeaea;
    border-radius: 5px;
    padding: 9.5px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    
}
.btncat
{   
    font-family: montserrat;
    background-color: var(--btnclr) ;
    font-size: 1.8rem;
    padding: 13px 40px;
    margin: 0 7px;
    color: white;
    text-align: center;
    border-radius: 5px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.btnscat::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .btnscat {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* homepage */
.prdcrd{
    background: var(--bkgclr);
    box-shadow: 0px 0px 5px 1px #EAEAEA;
    border-radius: 5px;
    margin-right: 0px;
    padding: 10px;
    margin-bottom:30px;
}
.T1{
font-weight: 600;
font-size: 2rem;
line-height: 29px;
color: var(--subheadclr);
text-align: left;

}
.T2{
font-weight: 400;
font-size: 2rem;
line-height: 29px;
text-align: left;
color: #000000;

}
.T3{
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: left;
color: var(--subheadclr);

}
.T4{
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    text-align: left;
}
.T5{
    font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: left;
text-decoration-line: line-through;
color: var(--subheadclr);

}
.T6{
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: left;
color: #1B9327;

}
.prdimg{
    width: 50%;
}
.TN{
    text-align:left;
}
nav{
    background-color: var(--btnclr);
    color: var(--bkgclr);
}

.one {
    width: 10%;
}

.two {
    width: 75%;
}


.three {
    width: 15%;
}


.four {
    height: 50px;
    width: 100%;
    background-color: white;
}

.five {
    padding-top: 30px;
    border-left: 150px;
    border-right: 180px;
    border-style: solid;
    border-color: lightblue;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.0rem;
}

.nav-brand {
    font-size: 1.5rem;
}

.nav-link {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    color: white;
}

.navbar-nav {
    text-align: right;

}

.six {
    background-color: white;
    height: 30px;
    padding: 1.5%;
}
.nav{
    
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;

color: var(--bkgclr);

}
.nav_search{ 
    margin-top: 2rem;
    width: 40%;
}
.brand{
    color: #EAEAEA;
    text-decoration: none;
    font-family: ubuntu;
}



.bottom_nav{   
    padding-top: 5rem;
    text-decoration: none;
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: var(--btnclr);
    color: white;
}
li{
    list-style: none;
    font-size: 1.5rem;
}
.footer{
    background-color: var(--btnclr);
    font-size: 1rem;
    text-align: center;
    color: white;
    margin-bottom: 0;

    /* padding-top: 2rem; */
}
.buttons2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: var(--bkgclr);

}

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 600px) {
    .grid-container { grid-template-columns: repeat(1, 1fr); }
  }
  .grid-item {
    text-align: center;
  }
.tphead{
    font-size: 2rem;
    width: 10px;
    display: inline;
}

.icon2{
    margin-top: 20px;
    margin-left: 6rem;
}

@media only screen and (max-width:600px){
    .buttons{
        font-size: 50px;
    }

    .button-nav{
        font-size: 10px;
        text-decoration: none;
        display: flex;
        list-style: none;
        justify-content: space-around;
        background-color: var(--btnclr);
        color: white;
        height: rem;
    }
    .icon2{
        display:none;
    }
    .bottom_nav{
        margin-left: rem;
        font-size: 4px;
        display: block;
        text-align: center;
    }
    .grid-container{
        font-size: 4px;
    }
}